<!-- Job-Zeiten & Token-Verbrauch: Button + Tabellen-Panel -->
<div class="job-stats-wrap" @click.outside="showJobStats = false">
  <button class="job-stats-btn" :class="{ 'job-stats-btn--active': showJobStats }" @click="toggleJobStats()" :title="t('header.timesTitle')" x-text="t('header.times')"></button>
  <div class="job-stats-panel" x-show="showJobStats" x-cloak>
    <div class="job-stats-title" x-text="t('jobStats.title')"></div>
    <div x-show="!jobStats" class="job-stats-loading" x-text="t('jobStats.loading')"></div>
    <div x-show="jobStats && jobStats.length === 0" class="job-stats-empty" x-text="t('jobStats.empty')"></div>
    <table x-show="jobStats && jobStats.length > 0" class="job-stats-table">
      <thead>
        <tr>
          <th x-text="t('jobStats.col.type')"></th>
          <th :title="t('jobStats.col.avgDurationTitle')" x-text="t('jobStats.col.avgDuration')"></th>
          <th :title="t('jobStats.col.avgTokensTitle')" x-text="t('jobStats.col.avgTokens')"></th>
          <th x-text="t('jobStats.col.lastRun')"></th>
          <th :title="t('jobStats.col.runsTitle')" x-text="t('jobStats.col.runs')"></th>
        </tr>
      </thead>
      <tbody>
        <template x-for="row in jobStats" :key="row.type">
          <tr>
            <td x-text="t(row.typeLabel)"></td>
            <td x-text="row.avgDurationFmt"></td>
            <td x-text="row.avgTokensFmt"></td>
            <td x-text="row.lastRunFmt"></td>
            <td>
              <span x-text="row.count"></span>
              <span x-show="row.errorCount > 0" class="job-stats-errors" x-text="' / ' + row.errorCount + ' ✕'"></span>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
